/* Frank Poth 12/23/2017 */

* {

  box-sizing:border-box;
  margin:0;
  padding:0;

}

html {

  height:100%;
  width:100%;

}

body {
  background-color: #202950;
}

canvas {

  align-content:space-around;
  /* background-color:#202830; */
  color:#ffffff;
  display:grid;
  grid-template-columns:auto;
  grid-template-rows:auto auto auto;
  height:95vh;
  justify-items:center;
  padding:0 8px;
  width:100%;
  /* background-image: url('./pixel-background.jpg'); */
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

}

.background {
  background-repeat: no-repeat;
}

.background-pixel {

}

h1 {
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: .5rem;
}